.card {
    width: 284px;
    height: 435px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .imagen {
        width: 100%;
        height: 355px;
        background-color: var(--lovestar-light);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 280px;
            width: 280px;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3{
            font-family: "Archivo-SemiBold", sans-serif;
            font-size: 16px;
        }

        .precio{
            color: var(--black-active);
            font-size: 12px;
            font-family: "Archivo-SemiBold", sans-serif;
        }

        .talla{
            font-family: "Archivo-Medium", sans-serif;
            font-size: 12px;
            word-spacing: 8px;
        }
    }
}