.form {
    width: 432px;
    height: 640px;
    background-color: var(--white-color);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        width: 214px;
        height: 38.95px;
        margin: 16px 0 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        width: 252px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font-family: "Archivo-SemiBold", sans-serif;
        }

        button {
            background-color: var(--primary-color);
            border: none;
            cursor: pointer;
            padding: 8px 12px;
            font-size: 16px;
            font-family: "Archivo-Normal", sans-serif;
            letter-spacing: .1rem;
            color: var(--white-color);

            display: block;
            position: relative;

            &:hover {
                background-color: var(--cta-color);
            }
        }


    }

    .opciones {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        p {
            color: var(--black-active);
            font-family: "Archivo-Light", sans-serif;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
        }
    }

    .google {
        width: 50px;
        height: 50px;
        border: 2px solid var(--black-active);
        border-radius: 2px;
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
        }

        button {
            cursor: pointer;
            border: none;
            background-color: var(--white-color);
        }
    }
}