.text-lovestar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  img {
    width: 60%;
  }

  p {
    font-family: "CabinetGrotesk-Bold", sans-serif;
    font-size: 122px;
    color: var(--black-color);
  }

  a {
    color: var(--black-color);
    text-decoration-line: none;
    cursor: pointer;
    font-size: 36px;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2.5px;
      border-radius: 4px;
      background-color: var(--black-color);

      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

@media (max-width: 900px) {
  .text-lovestar {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    justify-content: center;
    height: 80%;

    p {
      font-size: 86px;
    }

    a {
      font-size: 24px;
    }
  }
}


@media (max-width: 600px) {
  .text-lovestar {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    justify-content: center;

    p {
      font-size: 86px;
    }

    a {
      font-size: 24px;
    }
  }
}