.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin: 8px 0;

  img {
    width: 50%;
  }

  input {
    background-color: transparent;
    border: 1px solid var(--white-color-active);
    font-size: 16px;
    padding: 4px;

    field-sizing: content;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: var(--black-color);
    }
  }

  select {
    background-color: transparent;
    border: 1px solid var(--white-color-active);
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  option {
    background-color: transparent;
    border: 1px solid var(--white-color-active);

    &:hover {
      background-color: var(--primary-color);
    }
  }

  .opciones {
    display: flex;
    gap: 12px;

    svg {
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .card {
    font-size: 12px;

    input {
      &:disabled {
        font-size: 12px;
      }
    }
  }
}


@media (max-width: 700px) {
  .card {
    font-size: 10px;

    input {
      &:disabled {
        font-size: 10px;
      }
    }
  }
}