@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url('./assets/fonts/CabinetGrotesk-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Archivo-Normal";
  src: url('./assets/fonts/Archivo-Regular.otf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archivo-Italic";
  src: url('./assets/fonts/Archivo-Italic.otf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Archivo-SemiBold";
  src: url('./assets/fonts/Archivo-SemiBold.otf') format("truetype");
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 (p) / 18(h3) / 20 / 24 (h2) / 30 / 36 / 44 (h1) /52 / 62 / 74 / 86 / 98
*/

/***** ATOMO FUENTE TIPO GRAFICA ********/

/*
Fuente: Cabinet Grotesk & Archivo

font weight:
default: 400
h1: 700
h2: 600
h3 & button: 500

font size:
default: 16
h1: 44
h2: 24
h3: 18
*/

/** ATOMO COLORES **/

/*
  bg: #ecf2f5,
  text: #171717
  bg-publicidad: #e6293f
*/

/* :root {
  --color-bg: #ecf2f5;
  --color-bg-publicidad: #e6293f;
  --color-text-publicidad: #ecf2f5;
  --color-logo: #e6293f;
  --color-text: #171717;
} */
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Archivo-Normal", sans-serif;
  color: var(--color-text);
  font-size: 16px;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.publicidad {
  background-color: var(--color-bg-publicidad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem .5rem;
  text-transform: uppercase;

  p {
    color: var(--color-bg);
  }

  img {
    height: 25px;
    width: 25px;
  }
}

.centro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem .5rem;
  border-bottom: 1px solid var(--color-text);
  text-transform: uppercase;

  img {
    height: 48px;
  }

}

.info {
  display: flex;
  gap: 64px;
  margin: 0px 0px 0px 120px;

  p {
    font-family: "Archivo-SemiBold", sans-serif;
    font-weight: 600;
  }
}

.opciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0px 120px 0px 0px;
}

.circle {
  background-color: #e6293f;
  width: 25px;
  height: 25px;
  border-radius: 999999px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 64px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-text);

  p {
    font-family: "Archivo-SemiBold", sans-serif;
    font-weight: 600;
  }
}

.hero{
  img{
    width: 100%;
  }
} */