.perfil {
    width: 1280px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 64px;

    .user {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: var(--white-color-light);
        padding: 24px 24px;
        border-radius: 12px;
        border: 1px solid var(--white-color-active);
        position: relative;

        .info {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .noDireccion{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 6px;
                width: 100%;
                padding: 24px 24px;
                background-color: var(--white-color-hover);
                height: fit-content;
                border-radius: 10px;
                border: 1px solid var(--white-color-active);
            }
        }

        .pedidos{
            position: absolute;
            top: 17%;
            right: 2%;
            color: var(--white-color-dark);
            cursor: pointer;

            &:hover{
                color: var(--dark-color);
            }
        }

        .titulo {
            font-family: "Archivo-Light", sans-serif;
            color: var(--white-color-dark);
        }
    }
}