/* main{
    margin: 0;
    display: inline-block;
} */

.main{
    display: flex;
    flex-direction: column;
}

.name{
    height: fit-content;
    h1{
        font-size: 32px;
        font-family: "Archivo-SemiBold", sans-serif;
    }
}

.form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}