.container{
    width: 100%;
    max-height: 100vh;
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;

    background-color: var(--primary-color);
}