.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;

    .main {
        flex-direction: column;
        display: flex;
        overflow-x: hidden;
    }

}