.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;

    .main {
        flex-direction: column;
        display: flex;
        overflow-x: hidden;
        padding: 32px 64px;
        background-color: var(--white-color);

        &>[class^="_hero"]:first-child,
        &>[class^="_section"]:first-child {
            margin-inline: -64px;
            margin-block: -32px;
        }
    }

    @media (max-width: 900px) {
        .main {
            padding: 24px 48px;

            &>[class^="_hero"]:first-child,
            &>[class^="_section"]:first-child {
                margin-inline: -48px;
                margin-block: -24px;
            }
        }
    }

    @media (max-width: 600px) {
        .main {
            padding: 28px 24px;

            &>[class^="_hero"]:first-child,
            &>[class^="_section"]:first-child {
                margin-inline: -24px;
                margin-block: -28px;
            }
        }
    }

}