.publicidad {
    background-color: var(--primary-color);
    text-transform: uppercase;
    overflow: hidden; /* Ocultar el borde*/
    white-space: nowrap;
    width: 100%;
    height: 28px;
    width: 100%;
    position: relative;
    
}

.marquee {
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
    gap: 5rem;
    animation: scroll-left 60s linear infinite;
    position: absolute;
    p {
        color: var(--white-color);
        font-family: "Archivo-SemiBold", sans-serif;
        font-size: 12px;
    }

    img {
        height: 25px;
        width: 25px;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}


.centro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
    border-bottom: 1px solid var(--black-color);
    text-transform: uppercase;

    img {
        height: 48px;
    }

}

.info {
    display: flex;
    gap: 64px;
    margin: 0px 0px 0px 120px;

    /* DUDAAAAAAAA!!!! SI TENGO DOS P CON LO MISMO, PUEDO JUNTARLOS LOS DOS? */
    p {
        font-family: "Archivo-Regular", sans-serif;
        font-weight: 600;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-right: 120px;

    svg{
        width: 24px;
        height: 24px;
    }
}

.circle {
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 999999px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 64px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black-color);

    a {
        font-family: "Archivo-Regular", sans-serif;
        font-weight: 600;
        color: var(--black-color);
        text-decoration: none;
        position: relative;
    }

 a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #007bff;
      transition: width 0.3s ease;
    }


    a:hover::after{
       width:100%;
    }
    a.active{
        color: var(--active-text);
        display:inline-block;
       
    }
}