@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url('./assets/fonts/CabinetGrotesk-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Archivo-Normal";
  src: url('./assets/fonts/Archivo-Regular.otf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Archivo-Italic";
  src: url('./assets/fonts/Archivo-Italic.otf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 (p) / 18(h3) / 20 / 24 (h2) / 30 / 36 / 44 (h1) /52 / 62 / 74 / 86 / 98
*/

/***** ATOMO FUENTE TIPO GRAFICA ********/

/*
Fuente: Cabinet Grotesk & Archivo

font weight:
default: 400
h1: 700
h2: 600
h3 & button: 500

font size:
default: 16
h1: 44
h2: 24
h3: 18
*/

/** ATOMO COLORES **/

/*
  bg: #E6293F,
  text: #E8E8E8
*/

:root {
  --color-bg: #E6293F;
  --color-text: #E8E8E8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Archivo-Normal", sans-serif;
  color: var(--color-text);
  font-size: 32px;
}

.container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

/* TO DO*/
.contador {
  p {
    font-family: "Archivo-Italic", sans-serif;
  }
}

.text-lovestar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

  h1{
    font-family: "CabinetGrotesk-Bold", sans-serif;
    font-size: 200px;
  }
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}