.login {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        width: 51px;
        margin-top: 32px;
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}