.main {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        font-size: 32px;
        font-family: "Archivo-SemiBold", sans-serif;
    }

    .form {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 24px;

        .noPedidos {
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: var(--white-color-light);
            padding: 24px 24px;
            border-radius: 12px;
            border: 1px solid var(--white-color-active);
            position: relative;
            width: 100%;

            .info {
                display: flex;
                flex-direction: column;
                gap: 6px;
                align-items: center;
            }

            .titulo {
                font-family: "Archivo-SemiBold", sans-serif;
            }

            .texto {
                font-family: "Archivo-Light", sans-serif;
                color: var(--white-color-dark);
            }
        }

        table {
            width: 100%;
            background-color: var(--white-color-light);
            border-radius: 12px;
            padding: 12px 24px;

            thead {
                th {
                    border-bottom: 1px solid var(--white-color-dark);
                    color: var(--white-color-dark);
                    font-family: "Archivo-Light", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .main {
        display: flex;
        align-items: center;
    }
}