.section {
  min-width: 100%;
  height: 100vh;
  background-color: var(--black-color);
}

.banner {
  width: 100%;
  height: 50vh;
  text-align: center;
  position: relative;
  /*   top: 25%;
 */
}

.slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
}


@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform:
    rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(550px);
}

@media (max-width: 1200px) {
  .item {
    top: 10%;
  }
}

@media (max-width: 900px) {
  .item {
    width: 90%;
    height: 90%;
    top: 5%;
  }
}

@media (max-width: 600px) {
  .item {
    width: 60%;
    height: 60%;
    top: 5%;
  }
}


.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}