.input {

    label {
        font-family: "Archivo-Light", sans-serif;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 8px;
    }

    input[type="text"] {
        background-color: var(--white-color);
        width: 100%;
        height: 37px;
        border: 2px solid var(--black-color);
        border-radius: 4px;
        padding: 12px;
        color: var(--black-color);
        font-family: "Archivo-Light", sans-serif;

        &::placeholder {
            color: var(--black-active);
            font-family: "Archivo-Light", sans-serif;
        }

        &:focus {
            outline: none;
        }
    }

    input[type="password"] {
        background-color: var(--white-color);
        width: 100%;
        height: 37px;
        border: 2px solid var(--black-color);
        border-radius: 4px;
        padding: 12px;
        color: var(--black-color);
        font-family: "Archivo-Light", sans-serif;

        &::placeholder {
            color: var(--black-active);
            font-family: "Archivo-Light", sans-serif;
        }

        &:focus {
            outline: none;
        }
    }


    input[type="email"] {
        background-color: var(--white-color);
        width: 100%;
        height: 37px;
        border: 2px solid var(--black-color);
        border-radius: 4px;
        padding: 12px;
        color: var(--black-color);
        font-family: "Archivo-Light", sans-serif;

        &::placeholder {
            color: var(--black-active);
            font-family: "Archivo-Light", sans-serif;
        }

        &:focus {
            outline: none;
        }

        /* &:invalid {
            border: 2px solid var(--error-color);
            background-color: var(--error-light);
        } */
    }
}