main {
    margin: 32px 64px;


    .filtros {
        display: flex;
        justify-content: space-between;

        p {
            position: relative;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                border-radius: 4px;
                background-color: var(--primary-color);
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
                transform-origin: left;
                transform: scaleX(1);
            }

            &:hover {
                color: var(--primary-color);
                transition: color 0.5 ease;
            }
        }

        svg {
            width: 24px;
            height: 24px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .cards {
        width: 100%;
        height: 100%;
        padding-top: 32px;
        padding-bottom: 32px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 32px;
    }
}

.buscador {
    margin-top: 18px;

    .search {
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        max-height: 100px;

        display: flex;
        justify-content: center;

        input {
            width: 100%;
            height: 32px;
            padding: 0.6rem 1rem;
            border: none;
            border-bottom: 1px solid var(--black-color);
            font-size: 1rem;
            outline: none;
            transition: all 0.2s ease;
            font-family: "Archivo-Light", sans-serif;
            background-color: var(--white-color);

            font-size: 16px;

            &:focus {
                border: none;
                border-bottom: 1px solid var(--primary-color);
            }
        }

        &.hidden {
            max-height: 0;
        }
    }
}


.noProducts {
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--primary-color);
    font-size: 24px;
}

/* @media (max-width: 900px) {
    .cards {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */