main {
    margin: 32px 64px;


    .filtros {
        display: flex;
        justify-content: space-evenly;

        p {
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                border-radius: 4px;
                background-color: var(--primary-color);
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
                transform-origin: left;
                transform: scaleX(1);
            }

            &:hover {
                color: var(--primary-color);
                transition: color 0.5 ease;
            }
        }

    }

    .cards {
        width: 100%;
        height: 100%;
        padding-top: 32px;

        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}