main {
    margin: 32px 64px;


    .filtros {
        display: flex;
        justify-content: space-evenly;
    }

    .cards{
        width: 100%;
        height: 100%;
        padding-top: 32px;

        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}