.cardContainer {
  position: relative;
  width: 100%;
  height: 420px;
  max-width: 600px;
  border: 2px solid var(--cta-color);
  background: var(--lovestar-light-opacity);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: var(--black-color);
  padding: 20px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  display: block;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.shareButton {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: 2px solid rgba(200, 200, 200, 0.2);
  border-radius: 50px;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.shareButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.shareText {
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 0.9rem;
}

.shareVisible {
  opacity: 1;
  margin-left: 8px;
}

.shareHidden {
  opacity: 0;
  margin-left: -140px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cardAvatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(200, 200, 200, 0.2);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardName {
  font-size: 1.4rem;
  font-weight: 800;
}

.cardProfession {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 3px 12px;
  font-size: 0.9rem;
  font-weight: 300;
}

.cardLinks {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 6px;
}

.cardLink {
  color: white;
  opacity: 0.7;
  transition: all 0.2s ease;
  position: relative;
}

.cardLink:hover {
  opacity: 1;
  transform: scale(1.05);
}

.tooltip {
  position: absolute;
  top: 20px;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 0.75rem;
}

.cardDescription {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}

.cardSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.cardSkill {
  border: 2px solid rgba(200, 200, 200, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 3px 12px;
  font-size: 0.85rem;
  font-weight: 300;
}

.cardLight {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, var(--primary-color), rgba(255, 255, 255, 0));
  filter: blur(40px);
  opacity: 0.4;
}
