.sentinel {
    width: 100%;
    pointer-events: none;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.btnMobile {
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    .iconMobile {
        height: 1.5;
        width: 1.5rem;
        color: var(--black-color);
    }
}

.publicidad {
    background-color: var(--primary-color);
    text-transform: uppercase;
    overflow: hidden;
    /* Ocultar el borde*/
    white-space: nowrap;
    width: 100%;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
}

.marquee {
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
    gap: 5rem;
    animation: scroll-left 60s linear infinite;
    position: absolute;

    p {
        color: var(--white-color);
        font-family: "Archivo-SemiBold", sans-serif;
        font-size: 12px;
    }

    img {
        height: 25px;
        width: 25px;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


.centro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-color);
    text-transform: uppercase;
    padding: 4px;

    background-color: var(--white-color);

    img {
        height: calc(48px/1.2);
    }
}

.info {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-right: 120px;

    svg {
        width: 24px;
        height: 24px;

        &:hover {
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}

.circle {
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 999999px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 64px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--white-color);

    a {
        font-size: 14px;
    }
}

.nav,
.centro {
    a {
        font-family: "Archivo-Regular", sans-serif;
        font-weight: 600;
        color: var(--black-color);
        text-decoration: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-radius: 4px;
            background-color: var(--primary-color);
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }

        &:hover {
            color: var(--primary-color);
            transition: color 0.5 ease;
        }
    }
}


@media (max-width: 925px) {
    .btnMobile {
        display: block;
        z-index: 1000;
    }

    .nav {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);


        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: end;
        padding-right: 80px;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all 0.5s ease-in;
        transform: translateX(100%);

        .navList {
            flex-direction: column;
            gap: 4.8rem;
        }

        .logo {
            display: flex;
            justify-content: end;
            img {
                height: calc(50px);
            }
        }


        a {
            color: var(--black-color);
            font-size: 3rem;
        }

        &.navOpen {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateX(-0);
            z-index: 100;
        }
    }
}