.hero {
  width: 100%;

  .imagen {
    background-image: linear-gradient(rgba(29, 29, 29, 1), rgba(29, 29, 29, 0)), url(/img/hero-001.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;


    .imagen__text {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-top: 48px;
      align-items: center;
      color: var(--white-color);

      h1 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }


    .btn {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .btn__shopnow {
        width: 136px;
        height: 53px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-size: 16px;
          color: var(--white-color);
          text-decoration: none;
        }

        &:hover{
          background-color: var(--cta-color);
          cursor: pointer;
        }
      }
    }
  }
}