.hero{
} /* NECESARIO PARA QUE OCUPE TODO EL ANCHO. */
.imagen {
  background-image: linear-gradient(rgba(29, 29, 29, 1), rgba(29, 29, 29, 0)), url(/img/hero-001.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 111.500px);
  width: auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;


  .imagen__text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4px;
    color: var(--white-color);

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 24px;
    }


  }


  .btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    .btn__shopnow {
      width: 140px;
      height: 53px;
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 16px;
        color: var(--white-color);
        text-decoration: none;
      }

      &:hover {
        background-color: var(--cta-color);
        cursor: pointer;
      }
    }
  }
}