@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Share+Tech&family=Share+Tech+Mono&display=swap');

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 (p) / 18(h3) / 20 / 24 (h2) / 30 / 36 / 44 (h1) /52 / 62 / 74 / 86 / 98
*/

/***** ATOMO FUENTE TIPO GRAFICA ********/

/*
Fuente: Inter

font weight:
default: 400
h1: 700
h2: 600
h3 & button: 500

font size:
default: 16
h1: 44
h2: 24
h3: 18
*/

/** ATOMO COLORES **/

/*

  HTML+CSS: #2662EA
  JS: #EFD81D
  Web Design: #C3DCAF
  Git: #E84F33
  React: #60DAFB
  Svelte: #FF3B00
  text: #141414
  bg: #FAF9F6
  card: #FFFFF2
*/

:root {
  --color-text: #141414;
  --color-bg: #FAF9F6;
  --color-html-css: #2662EA;
  --color-js: #EFD81D;
  --color-web-design: #C3DCAF;
  --color-git: #E84F33;
  --color-react: #60DAFB;
  --color-svelte: #FF3B00;
  --color-card: #FFFFF2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  font-weight: 400;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #FFFFF2;
  min-height: 100vh;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 4px solid var(--color-text);
  min-height: 100vh;
  width: 600px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 40px;
}

.imagen {
  display: flex;
  align-items: baseline;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.intro {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1{
    font-size: 44px
  }
}

.skills{
  width: 100%;
  flex: 1; /* Para ocupar todo el espacio restante.*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.skill-text{
  display: flex;
  flex-direction: row;
  gap: 4px;
  h3{
    font-size: 18px;
    font-weight: 500;
  }
}