.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    list-style: none;
}

.background-header{
    background-color: var(--secondary-background);
}