.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;

    a{
        text-decoration: none;
        color: var(--primary-background);
    }
}

.background-header{
    background-color: var(--secondary-background);
}