h2 {
    font-size: 16px;
    font-family: "Archivo-SemiBold", sans-serif;
}

.section {
    width: 489px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .expand {
        width: 24px;
        height: 24px;
        color: var(--black-color);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .acordeon {
        background-color: var(--white-color);
        border-bottom: 1px solid var(--black-color);
        box-shadow: none;
    }

    .details {
        font-size: 16px;
        font-family: "Archivo-Light", sans-serif;
        line-height: 1.3rem;
    }
}