.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  border-bottom: 2px solid var(--black-color);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.title,
.icon {
  font-size: 16px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Archivo-Light", sans-serif;
}

.content-box ul {
  color: var(--white-color);
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 2px solid var(--primary-color);
}

.open .number,
.open .title {
  color: var(--primary-color);
}