.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 642px;
    height: 436px;

    h4 {
        font-family: "Archivo-Light", sans-serif;
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 1.3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .fila {
            display: flex;
            gap: 16px;
            justify-content: center;
            width: 100%;

            &>* {
                flex: 1;
            }
        }

        p {
            font-size: 14px;
            font-family: "Archivo-Light", sans-serif;
        }

        button {
            background-color: var(--primary-color);
            border: none;
            cursor: pointer;
            padding: 8px 12px;
            font-size: 16px;
            font-family: "Archivo-Normal", sans-serif;
            color: var(--white-color);

            &:hover {
                background-color: var(--cta-color);
            }
        }
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        height: fit-content;

        form{
            .fila{
                display: flex;
                flex-direction: column;
            }
        }
    }
}