.main {
    display: flex;
    flex-direction: column;

    .h1 {
        height: fit-content;

        h1 {
            font-size: 32px;
            font-family: "Archivo-SemiBold", sans-serif;
        }
    }

    .acordeon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
}