.main {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 32px;
        font-family: "Archivo-SemiBold", sans-serif;
    }

    .acordeon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 1200px){
    .main{
        display: flex;
        align-items: center;
    }
}