.publicidad {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .5rem;
    text-transform: uppercase;

    p {
        color: var(--black-color);
    }

    img {
        height: 25px;
        width: 25px;
    }
}


.centro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
    border-bottom: 1px solid var(--black-color);
    text-transform: uppercase;

    img {
        height: 48px;
    }

}

.info {
    display: flex;
    gap: 64px;
    margin: 0px 0px 0px 120px;

    /* DUDAAAAAAAA!!!! SI TENGO DOS P CON LO MISMO, PUEDO JUNTARLOS LOS DOS? */
    p {
        font-family: "Archivo-Regular", sans-serif;
        font-weight: 600;
    }
}

.opciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0px 120px 0px 0px;
}

.circle {
    background-color: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 999999px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 64px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black-color);

    p {
        font-family: "Archivo-Regular", sans-serif;
        font-weight: 600;
    }
}