footer {
    width: 100%;
    min-height: 312px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;

    .footer__principal {
        display: flex;
        margin: 0px 64px;
        align-items: center;
        justify-content: center;
        gap: 128px;
        flex-wrap: wrap;

        .form {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
                font-family: "CabinetGrotesk-Bold", sans-serif;
                font-size: 32px;
                color: var(--white-color);
                font-weight: 500;
            }

            button {
                background-color: var(--white-color);
                border: none;
                cursor: pointer;
                padding: 8px 12px;
                font-size: 16px;
                font-family: "Archivo-Normal", sans-serif;
                letter-spacing: .1rem;

                &:hover {
                    background-color: var(--black-color);
                    color: var(--white-color);
                }
            }

            .member {
                p {
                    font-size: 14px;
                    color: var(--white-color);
                    font-family: "Archivo-Light", sans-serif;
                    line-height: 1.5;
                    text-transform: uppercase;
                }
            }
        }

        .logo {
            width: 683.5px;
        }


        .secciones {
            display: inline-flex;
            flex-direction: column;
            gap: 8px;

            a {
                color: var(--white-color);
                font-family: "Archivo-Light", sans-serif;
                font-size: 24px;
                text-decoration: none;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.3);
                    -webkit-text-fill-color: var(--primary-color);
                    -webkit-text-stroke-width: .3px;
                    -webkit-text-stroke-color: var(--white-color);
                }
            }
        }
    }

    .footer__icons {
        display: flex;
        gap: 16px;
        margin-bottom: 32px;

        svg {
            width: 24px;
            height: 24px;
            color: var(--white-color);
        }
    }
}


@media (max-width: 1650px) {
    footer {
        justify-content: space-between;
        min-height: fit-content;
        padding-top: 32px;

        .footer__principal {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 16px;

            .form {
                width: 80%;
                h3 {
                    font-size: 28px;
                    text-align: center;
                }


                .member {
                    p {
                        font-size: 18px;
                    }
                }
            }

            .logo {
                order: -1;
                width: 80%;
            }

            .secciones {
                display: flex;
                flex-direction: row;
                gap: 24px;
                justify-items: center;

                a {
                    font-size: 20px;
                }
            }
        }

            .footer__icons{
                margin-top: 12px;
            }

    }
}


@media (max-width: 700px) {
    footer {
        justify-content: space-between;
        min-height: fit-content;
        padding-top: 32px;

        .footer__principal {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 16px;

            .form {
                width: 75%;

                h3 {
                    font-size: 18px;
                    text-align: center;
                }

                button {
                    font-size: 12px;
                }

                .member {
                    p {
                        font-size: 10px;
                    }
                }
            }

            .logo {
                width: 80%;
                order: -1;
            }

            .secciones {
                display: grid;
                grid-template-columns: repeat(2, 123px);
                gap: 16px;
                justify-items: center;

                a {
                    font-size: 14px;
                }
            }
        }

            .footer__icons{
                margin-top: 12px;
                svg{
                    width: 18px;
                    height: 18px;
                }
            }

    }
}