footer {
    width: 100%;
    height: 312px;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    .footer__principal {
        display: flex;
        margin: 0px 64px;
        align-items: center;
        gap: 128px;

        .form {
            width: 253px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
                font-size: 16px;
                color: var(--white-color);
                font-weight: 500;
            }

            input[type="email"] {
                background-color: var(--primary-color);
                width: 100%;
                height: 37px;
                border: 1px solid var(--white-color);
                border-radius: 4px;
                padding: 12px;
                color: var(--white-color);
                font-family: "Archivo-Light", sans-serif;

                &::placeholder {
                    color: var(--lovestar-light);
                    font-family: "Archivo-Light", sans-serif;
                }

                &:focus {
                    outline: none;
                }

                &:invalid {
                    border: 1px solid var(--black-color);
                    background-color: var(--error-light);
                    color: var(--black-color);
                }
            }

            input[type="submit"] {
                background-color: var(--white-color);
                border: none;
                cursor: pointer;
                padding: 8px 12px;
                font-size: 16px;
                font-family: "Archivo-Normal", sans-serif;
                letter-spacing: .1rem;

                &:hover {
                    background-color: var(--black-color);
                    color: var(--white-color);
                }
            }

            .form__policy {
                display: flex;
                gap: 4px;
                align-items: flex-start;

                /* input {
                    appearance: none;
                    background-color: var(--primary-color);
                    border: 2px solid var(--white-color);
                    width: 30px;
                    height: 15px;
                    border-radius: 2px;

                    cursor: pointer;
                    position: relative;

                    &:checked::after {
                        content: "x";
                        color: white;
                        font-size: 10px;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -55%);
                    }
                } */

                p {
                    font-size: 10px;
                    color: var(--white-color);
                    font-family: "Archivo-Light", sans-serif;
                    line-height: 1.2rem;
                }
            }
        }

        .logo {
            width: 683.5px;
        }


        .secciones {
            display: inline-flex;
            flex-direction: column;
            gap: 8px;

            a {
                color: var(--white-color);
                font-family: "Archivo-Light", sans-serif;
                font-size: 24px;
                text-decoration: none;
                transition: all .3s ease;

                &:hover{
                    transform: scale(1.3);
                    -webkit-text-fill-color: var(--primary-color);
                    -webkit-text-stroke-width: .3px;
                    -webkit-text-stroke-color: var(--white-color);
                }
            }
        }
    }

    .footer__icons {
        display: flex;
        gap: 16px;
        margin-bottom: 32px;

        svg {
            width: 24px;
            height: 24px;
            color: var(--white-color);
        }
    }
}