footer {
    width: 100%;
    min-height: 312px;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;

    .footer__principal {
        display: flex;
        margin: 0px 64px;
        align-items: center;
        justify-content: center;
        gap: 128px;
        flex-wrap: wrap;

        .form {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
                font-family: "CabinetGrotesk-Bold", sans-serif;
                font-size: 32px;
                color: var(--white-color);
                font-weight: 500;
            }

            button {
                background-color: var(--white-color);
                border: none;
                cursor: pointer;
                padding: 8px 12px;
                font-size: 16px;
                font-family: "Archivo-Normal", sans-serif;
                letter-spacing: .1rem;

                &:hover {
                    background-color: var(--black-color);
                    color: var(--white-color);
                }
            }

            .member {
                p {
                    font-size: 14px;
                    color: var(--white-color);
                    font-family: "Archivo-Light", sans-serif;
                    line-height: 1.5;
                    text-transform: uppercase;
                }
            }
        }

        .logo {
            width: 683.5px;
        }


        .secciones {
            display: inline-flex;
            flex-direction: column;
            gap: 8px;

            a {
                color: var(--white-color);
                font-family: "Archivo-Light", sans-serif;
                font-size: 24px;
                text-decoration: none;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.3);
                    -webkit-text-fill-color: var(--primary-color);
                    -webkit-text-stroke-width: .3px;
                    -webkit-text-stroke-color: var(--white-color);
                }
            }
        }
    }

    .footer__icons {
        display: flex;
        gap: 16px;
        margin-bottom: 32px;

        svg {
            width: 24px;
            height: 24px;
            color: var(--white-color);
        }
    }
}

@media (max-width: 600px) {
    footer {
        min-height: fit-content;
        max-height: 100%;
        padding-top: 32px;

        .footer__principal {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 16px;

            .form {
                h3 {
                    font-size: 24px;
                }
            }

            .member{
                p{
                    font-size: 10px;
                }
            }

            .logo{
                width: 50%;
            }

            .secciones{
                display: flex;
                flex-direction: row;
                gap: 16px;

                a{
                    font-size: 18px;
                }
            }
        }

    }
}