.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
}