.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 40px;
    p {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 100%;
        margin-bottom: 40px;
    }
}