.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 2rem 0;

    p {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;

    }
}